## nginxトップページ変更

変更前(共通）

![nginxトップページ設定画面](./images/01-nginx-top-before.png)

変更後(web-lab-web-ec2-a)

![nginxトップページ設定画面](./images/01-nginx-top-after-a.png)

変更後(web-lab-web-ec2-c)

![nginxトップページ設定画面](./images/01-nginx-top-after-c.png)

ブラウザからalbによる負荷分散が行われているか確認ができるように、nginxのトップページを変更しました。


## 動作確認

![nginxトップページ](./images/01-nginx-top-a.png)
![nginxトップページ](./images/01-nginx-top-a.png)

ブラウザからアクセスし、インスタンスが切り替わるかを確認しました。
