## 検証

スタックが作成されていることを確認しました。
![スタック画面](./images/02-web-lab-stack.png)

---
EC2インスタンスが作成されていることを確認しました。
![EC2画面](./images/02-cfn-web-lab-web-ec2-a.png)
![EC2画面](./images/02-cfn-web-lab-web-ec2-c.png)

---
ALBが作成されて、ターゲットグループが正常に登録されていることを確認しました。
![ALB画面](./images/02-cfn-web-lab-alb.png)
![ALB画面](./images/02-cfn-web-lab-alb-1.png)
![ターゲットグループ画面](./images/02-cfn-web-lab-tg.png)
