## 検証

スタックが作成されていることを確認しました。
![スタック画面](./images/02-web-lab-stack.png)

---
EC2インスタンスが作成されていることを確認しました。
![EC2画面](./images/02-web-lab-web-ec2-a.png)
![EC2画面](./images/02-web-lab-web-ec2-c.png)
